@import 'zero.common.css';
@import 'zero.icons.css';

/*以更明确的指向覆盖dialog的默认样式 #0269a6*/
body #dialogInit .zero_dialog .zero_dialogT{background:#00a6ed;color:#fff;border-bottom:solid 1px #00a6ed;}
body #dialogInit .zero_dialog .zero_dialogT .dialog_icon{border:solid 1px #00a6ed;border-radius:0;background-color:#0269a6; background-image:url(../css/images/icon/info2.png);width:20px;height:20px;margin:9px 0 0 9px;}
body #dialogInit .zero_dialog span.zero_closeBtn{border:solid 1px #00a6ed;color:#00a6ed;box-shadow:none; border-radius:0; width:1.25em;height:1.25em;margin:0.625em 0 0 -1.875em;line-height:1.25em;position:absolute;background-color:#0269a6;}
body #dialogInit .zero_dialog span.zero_closeBtn:hover{background:#f7f7f7;color:#00a6ed;border-color:#00a6ed;}
body #dialogInit .zero_dialogB a{border-color:#dfdfdf;color:#00a6ed;background:#f7f7f7;cursor:pointer;}
body #dialogInit .zero_dialogB a:hover{color:#00a6ed;background:#f7f7f7;}
body #dialogInit .zero_dialogMaskDiv,body #dialogInit .zero_nDialog .zero_dialogMaskDiv{background:#161B35;opacity:0.05; filter:alpha(opacity=5);}
body #dialogInit .zero_dialogShowDiv,body #dialogInit .zero_nDialog .zero_dialogShowDiv{border-color:#0269a6;box-shadow:0 0 10px rgba(0,0,0,.7);border-radius:0;}
/*以更明确的指向覆盖zero_date_input的默认样式*/
body #zero_date_input .box{border-color:#0269a6;border-radius:0;}
body #zero_date_input .box .t{background:#187df0;}
body #zero_date_input p{background:#00a6ed;color:#fff;}
body #zero_date_input p span:hover{color:#00a6ed;}
body #zero_date_input .b a{border-left-color:#dedede;}

.zero_top_page{width:100%;height:100%;overflow:hidden;}
.zero_ifram_page{width:100%;min-height:100%;overflow-x:hidden;}
.zero_ifram_page .zero_data_list .zero_page_bar,
.zero_ifram_page .zero_data_list.zero_page_bar_fixed .zero_page_bar{border-top-color:#999;background-color:#f2f2f2;}
.zero_ifram_page .zero_data_list .zero_title_bar{border-bottom-color:#999;background-color:#f2f2f2;}

#zero_ap_layout_main{width:100%; height:100%; overflow:hidden;padding:0;margin:0;border:0;}
#zero_ap_layout_left{width:268px;height:100%;overflow:hidden;padding:0;margin:0;border:0;background-color:#0269a6;float:left;}
#zero_ap_layout_left_header{height:60px;border:solid 1px #161B35;margin:5px;overflow:hidden;padding:0;background-color:#00a6ed;background-image:url(images/bg_line001.png);}
#zero_ap_layout_left_header h1{padding:0;margin:0;height:35px;line-height:48px;font-size:24px;overflow:hidden;text-align:center;color:#fff;font-weight:600;}
#zero_ap_layout_left_header h2{padding:0;margin:0;height:16px;line-height:12px;font-size:12px;font-weight:normal;overflow:hidden;text-align:center;color:#161B35;}
#zero_ap_layout_left_logo{height:60px;overflow:hidden;padding:0;margin:0;display:block;}
#zero_ap_layout_left_ctrl_btn{width:30px;height:22px;overflow:hidden;padding:0;margin:4px 0 0 268px;border:solid 1px #00a6ed;border-left:0; cursor:pointer;display:block;position:absolute;border-radius:0 5px 5px 0;background:#0269a6 no-repeat center url(images/icon/indent_decrease.png);}
#zero_ap_layout_left_menu_init{border:solid 1px #161B35;padding:0;margin:0 5px 5px 5px;overflow:hidden;}
#zero_ap_layout_right{border:0;padding:0;margin:0;height:100%;width:0;overflow:hidden;float:left;}
#zero_ap_layout_right_header{height:32px;overflow:hidden;padding:0 0 0 35px;margin:0;border:0;background-color:#00a6ed;font-size:12px;line-height:32px;background-image:url(images/bg_line001.png);}
#zero_ap_layout_right_header .zero_right{width:auto;height:32px;}
#zero_ap_layout_right_header .zero_right .zero_bg_icon{color:#161B35;padding:0;cursor:pointer;background-color:#0269a6;background-position:center; display:block;width:24px;height:24px;margin:2px;border-radius:50%;border:solid 1px #0269a6;border-right:0;float: left;}
#zero_ap_layout_right_tabs{height:34px;width:100%;overflow:hidden;margin:0;padding:0;border:0;background-color:#0269a6;}
#zero_ap_layout_right_iframes{height:0;overflow:hidden;margin:0;padding:0;border:solid 1px #161B35;background:url(images/loading.gif) no-repeat center;}
.zero_ap_layout_left_hide #zero_ap_layout_left{width:0;}
.zero_ap_layout_left_hide #zero_ap_layout_left_ctrl_btn{z-index:2;margin:4px 0 0 0;background-image:url(images/icon/indent_increase.png)}

#zero_ap_layout_left_menu{margin:0;padding:0; border:0;display:block;overflow:hidden;height:100%;background-color:#0269a6;color:#fff;}
#zero_ap_layout_left_menu dl{padding:0; margin:0;overflow:hidden; display:block;border-bottom:solid 1px #215283;white-space:nowrap;}
#zero_ap_layout_left_menu dt{padding:2px 0 2px 26px; cursor:pointer; margin:0 0 -1px 0; background:url(images/icon/folder.png) no-repeat 5px center; overflow:hidden;border-bottom:solid 1px #215283;line-height:28px;}
#zero_ap_layout_left_menu dt:hover{font-weight:bold;}
#zero_ap_layout_left_menu dd{padding:2px 0 2px 26px; cursor:pointer; margin:0 0 0 16px; line-height:28px; background:url(images/icon/file4.png) no-repeat 5px center; overflow:hidden; border-left:solid 1px #215283;border-bottom:solid 1px #215283;font-size:12px;}
#zero_ap_layout_left_menu dl dd{display:none;}
#zero_ap_layout_left_menu .zero_open dt{background-image:url(images/icon/folder_open.png);}
#zero_ap_layout_left_menu .zero_open dd{display:block;}
#zero_ap_layout_left_menu .zero_selected dt{font-weight:bold;}
#zero_ap_layout_left_menu dl dd:hover,
#zero_ap_layout_left_menu .zero_selected .zero_selected{background-image:url(images/icon/file.png);background-color: #0583cc;}
/*#zero_ap_layout_left_menu dl:last-child{border-bottom:0;}*/
#zero_ap_layout_left_menu dl dd:last-child{border-bottom:0;}
#zero_ap_layout_left_menu:hover{overflow-y:auto;}

#zero_ap_layout_right_tabs .zero_r_arrow,
#zero_ap_layout_right_tabs .zero_r_arrow{height:32px;width:0;overflow:hidden;padding:0;margin:0;float:right;}
#zero_ap_layout_right_tabs .zero_r_arrow p{padding: 0;margin: 0 0 0 -90px;overflow: hidden;position: absolute;height: 32px;width: 90px;background: #00a6ed;overflow:hidden;}
#zero_ap_layout_right_tabs .zero_r_arrow span{display:block;float:left;height:32px;border-top:solid 1px #0269a6;border-left:solid 1px #0269a6;width:29px;overflow:hidden;background-color:#00a6ed;padding-left:0;background-position:center; color:#0269a6;line-height:1.875em;text-align:center;cursor:pointer;user-select: none;}
#zero_ap_layout_right_tabs .zero_r_arrow b{display: block;font-weight: normal;color: #fff;height: 16px;line-height: 14px;margin: 0 2px;overflow: hidden;}
#zero_ap_layout_right_tabs .zero_r_arrow .tb{border-bottom: solid 1px #fff;line-height: 20px;}
#zero_ap_layout_right_tabs .zero_arrow_l{border-radius: 5px 0 0 0;}
#zero_ap_layout_right_tabs .zero_arrow_c{border-radius: 0;font-size: 12px;color: #fff;}
#zero_ap_layout_right_tabs .zero_arrow_r{border-radius: 0;}
#zero_ap_layout_right_tabs .zero_r_tabs_init{height:32px;width:100%;overflow:hidden;padding:0;margin:0;float:left;}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_init{height:32px;margin:0 90px 0 0;overflow:hidden;padding:0;background-color:#00a6ed;background-image:url(images/bg_line001.png);}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_tabs{width:121px;height:32px;overflow:hidden;padding:0;margin:0;border:0;}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_tab{width:116px; height:31px;overflow:hidden;float:left;background-color:#00a6ed;background-color:rgba(0,166,237,.6);margin:0 1px;border:solid 1px #0269a6;border-radius: 5px 5px 0 0;}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_tab_text{display:block;padding:0;margin:0;width:99px;height:31px;overflow:hidden;float:left;white-space:nowrap;text-overflow:ellipsis;color:#eee; text-indent:4px;line-height:30px;font-size:14px;cursor:default;user-select:none;}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_tab_close{display:block;padding:0;margin:6px 1px 0 0;width:16px;height:16px;overflow:hidden;float:right;background:#0269a6;color:#00a6ed;line-height:12px;text-align:center;cursor:pointer;border-radius:0;user-select:none;}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_selected{background:#0269a6;border-top-color:#0269a6;border-left-color:#0269a6;}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_selected .zero_tab_text{color:#fff;}
#zero_ap_layout_right_tabs .zero_r_tabs_init .zero_selected .zero_tab_close{background-color:#f2f2f2;color:#0269a6;}
#zero_ap_layout_right_tabs .zero_tabs_single{height:32px;line-height:32px;}
#zero_ap_layout_right_tabs .zero_tabs_single span{display:block;height:20px;float:left;line-height:18px;font-size:12px;border:solid 1px #00a6ed;padding:0 3px;margin-top:5px;margin-left:-1px;font-weight:bold;background-color:#f7f7f7;}
#zero_ap_layout_right_tabs .zero_tabs_single span.gt{background-color:#00a6ed;}
#zero_ap_layout_right_tabs .zero_tabs_single span.zero_bg_icon_home{height:32px; width:32px;padding:0;background-position:center;border:0;margin:0;border-right:solid 1px #00a6ed;}
#zero_ap_layout_right_tabs .zero_tabs_single span:last-child{border-radius:0 5px 5px 0;font-weight:normal;}

#zero_ap_layout_right_iframes iframe{width:100%;height:100%;border:0;overflow-x: hidden; overflow-y: auto;display:none;background:transparent;}
#zero_ap_layout_right_iframes iframe.zero_selected{display:block;}

.zero_ap_fit{width:100%;height:100%;overflow:hidden;position:fixed;z-index:9;background:#fafafa;left:0;top:0;}
#zero_ap_fit_back{display:block;position:fixed;z-index:9;text-decoration:none;width:80px;height:40px;text-align:center;line-height:40px;background:#0269a6;color:#ffffff;border-right:0;border-radius:5px 0 0 0;cursor:pointer;font-size:16px;right:0;bottom:0;}
#zero_ap_fit_back:hover{width:160px;height:80px;text-align:center;line-height:80px;font-size:16px;}

.zero_main{width:100%; margin:0 auto; padding:0 0 10px 0; overflow:hidden;}
.zero_data_list{overflow:hidden;margin:45px 5px 38px 5px;}
.zero_data_list.zero_page_bar_fixed{margin-bottom:38px;}
.zero_data_list .zero_title_bar{height:39px;margin:0 auto;width:100%;background:#f2f2f2;overflow:hidden;border-bottom:solid 1px #dedede;position:fixed;left:0;top:0;}
.zero_data_list .zero_title_bar .zero_left{color:#0269a6;margin-left:5px;line-height:39px;}
.zero_data_list .zero_title_bar .zero_bg_icon{border:solid 1px #0269a6;background-color: #0269a6; color:#fff; cursor:pointer;padding-right:3px;font-size:14px;}
.zero_data_list .zero_title_bar .zero_left  .zero_bg_icon{height:22px;line-height:22px;border-radius:3px;}
.zero_data_list .zero_title_bar select.zero_bg_icon{padding-right:0px;}
.zero_data_list .zero_title_bar .zero_right{margin-right:5px;display:block;line-height:34px;}
.zero_data_list .zero_title{border-left:solid 15px #0269a6;font-weight:600;font-size:16px;line-height:1px;padding:0 2px;}

.zero_demo_main{display:block;padding:5px;overflow:hidden;}
.zero_demo_main h1,
.zero_demo_main h2,
.zero_demo_main h3,
.zero_demo_main h4,
.zero_demo_main h5,
.zero_demo_main h6{line-height:1;border-left:solid 10px #0269a6;color:#0269a6;padding:0 0 0 5px;margin:5px 0;}
.zero_demo_main table.zero_datatable tbody td{padding:5px;}
.zero_demo_main table.zero_datatable tbody tr{color:#161B35;font-weight:bold;}
.zero_demo_main table.zero_datatable tbody tr:nth-child(even){font-weight:normal;color:#161B35;font-size:12px;}
.zero_demo_main table.zero_datatable tbody tr:hover{color:#161B35;}
.zero_demo_main table.zero_datatable tbody tr:nth-child(even):hover{color:#161B35;}

.zero_dialog_iframe_box{background:url(images/loading.gif) no-repeat center;}
.zero_dialog_iframe_box iframe{background-color:transparent;}

 @media screen and (max-width: 1024px){
    #zero_ap_layout_left{position:fixed;left:0;top:0;z-index:1;overflow:visible;}
    #zero_ap_layout_right{width:100%;}
    #zero_ap_layout_left_ctrl_btn{display:block;}
    #zero_ap_layout_right_header{padding-left:32px;}
    .zero_ap_layout_left_hide #zero_ap_layout_left{width:0;position:static;}
    .zero_ap_layout_left_hide #zero_ap_layout_right_header{padding-left:32px;}
    .zero_ap_layout_left_hide #zero_ap_layout_left_menu_init,
    .zero_ap_layout_left_hide #zero_ap_layout_left_header{border-color:transparent;}
 }
@media screen and (max-width: 640px) {
    #zero_ap_header .zero_left{width:0;}
    #zero_ap_header .zero_right{width:100%;text-align:center;}
    .zero_data_list{margin-top:10px;}
    .zero_data_list .zero_title_bar{height:auto;position:static;}
    .zero_data_list .zero_title_bar .zero_left{margin-left:2px;}
    .zero_data_list .zero_title_bar .zero_right{margin-right:2px;}
}
@media print {
    body{background-color:#fff;}
    table.zero_datatable thead th, table.zero_datatable thead td{border-bottom: solid 1px #dedede;color:#161B35;background-color:#fff;}
    table.zero_datatable tbody th, table.zero_datatable tbody td{color:#161B35;background-color:#fff;}
    table.zero_datatable tfoot th, table.zero_datatable tfoot td{color:#161B35;background-color:#fff;}
    .noprint { display: none; }
    .zero_top_page .zero_ap_fitDiv{display:none;}
    .zero_ifram_page .zero_data_list{overflow:hidden;margin:0;}
    .zero_ifram_page .zero_data_list .zero_page_bar{display:none;}
}




